.copyRights {
  text-align: center;
}

.Paciente-Title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0;
}

.Medicos-Title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0;
}

.td-funcoes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  cursor: pointer;
}

.NavBar {
  display: flex;
  flex-direction: column;
}

.userMenu {
  margin-left: 30vw;
}

a {
  margin: 10px 20px;
  cursor: pointer;
}
